@model SGPI.Models.TblPago
@{
    ViewData["Title"] = "PagoEstudiante";
    Layout = "_LayoutSGPI";
}

<h1>Pagos</h1>

<center>
    <p>
        <nav class="navbar navbar-expand-sm bg-success navbar-light ">            
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:history.back()">ACTUALIZAR</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Estudiante/Pagos">PAGOS</a>
                </ul>
        </nav>
    <p>

</center>

<div style="text-align:right">
    <a href="/Administrador/Login" id="regresar">Cerrar sesion</a>
</div>
<br>
<form method="post">
    <div class="container">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">No</th>
                <th scope="col">Valor Pago</th>
                <th scope="col">Fecha Pago</th>
                <th scope="col">Opciones</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <th><input asp-for="ValorPago" type="text" placeholder=" Ingrese valor"  /></th>
                <th><input asp-for="Fecha" type="date" placeholder="DD/MM/AAAA"  /></th>
                <th><input type="file" placeholder=".pdf" /></th>
            </tr>
        </tbody>
    </table>
    <br>
    <br>
    @if (ViewBag.mensaje != null)
    {
        <div class="alert alert-success" role="alert">
            @ViewBag.mensaje
        </div>
    }
    <br>
    <br>
    <center> <input type="submit" id="btnCrear_Usuario" value="ENVIAR CERTIFICADO" class="btn btn-success" /></center>
    </div>
</form>
