@{
    ViewData["Title"] = "BuscarCoordinador";
}
<div class="container">
    <h1>BuscarCoordinador</h1>
    <br>
    <nav class="navbar navbar-expand-sm bg-success navbar-dark justify-content-center">
        <b>
            <ul class="navbar-nav navbar-center">
                <li class="nav-item">
                    <a class="nav-link" href="/Coordinador/BuscarCoordinador">BUSCAR</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Coordinador/ProgramarCoordinador">PROGRAMAR ASIGNACION</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Coordinador/Homologacion">HOMOLOGACION</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Coordinador/EntrevistaCoordinador">ENTREVISTA</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Coordinador/ReportesCoordinador">REPORTE</a>
                </li>
            </ul>
        </b>
    </nav>
    <br>
    <div style="text-align:right">
        <a href="/Administrador/Login" id="regresar">Cerrar sesion</a>
    </div>
    <br>
    <br>
    <b><label for="buscarCoorditxt">Buscar Usuario</label></b>
    <div class="form-group">
        <input type="text" placeholder="" class="form-control col-sm-1" id="buscarCoorditxt" required />
    </div>
    <br>
    <input type="button" class="btn btn-outline-danger" value="BUSCAR">
    <br>
    <br>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Primer Apellido</th>
                <th scope="col">Segundo Apellido</th>
                <th scope="col">Genero</th>
                <th scope="col">Documento</th>
                <th scope="col">Programa</th>
                <th scope="col">Roll</th>
                <th scope="col">Correo</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>  </td>
                <td></td>
                <td></td>
            </tr>         
        </tbody>
    </table>
</div>

