
@{
    ViewData["Title"] = "Homologacion";
}
<div class="Container">
    <h1>Homologacion</h1>
    <br>
    <nav class="navbar navbar-expand-sm bg-success navbar-dark justify-content-center">
        <b>
            <ul class="navbar-nav navbar-center">
                <li class="nav-item">
                    <a class="nav-link" href="/Coordinador/BuscarCoordinador">BUSCAR</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Coordinador/ProgramarCoordinador">PROGRAMAR ASIGNACION</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Coordinador/Homologacion">HOMOLOGACION</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Coordinador/EntrevistaCoordinador">ENTREVISTA</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Coordinador/ReportesCoordinador">REPORTE</a>
                </li>
            </ul>
        </b>
    </nav>
    <br>
    <div style="text-align:right">
        <a href="/Administrador/Login" id="regresar">Cerrar sesion</a>
    </div>
    <br>
    <br>
    <b><label for="idNumbertxt">Buscar Usuario</label></b>
    <div class="form-group">
        <input type="text" placeholder="1.111.111.111" class="form-control col-sm-1" id="idNumbertxt" required />
        <br>
        <input type="button" class="btn btn-outline-danger" value="BUSCAR">
    </div>
    <br>

    <br>
    <br>
    <div class="container-fluid cew-9">
        <div class="row">
            <div class="col">
                <b><label for="nonbretxt">Nombre</label></b>
                <div class="form-group">
                    <input type="text" placeholder="Nombre" class="form-control col-sm-1"  id="nombretxt" required />
                </div>
                <br>
                <b><label for="idNumbertxt">Documento de identidad</label></b>
                <div class="form-group">
                    <input type="number" placeholder="1.111.111.111" class="form-control col-sm-1" id="idNumbertxt" required />
                </div>
                <br>
                <br>
            </div>
            <div class="col">
                <b><label for="apellidotxt">Primer Apellido</label></b>
                <div class="form-group">
                    <input type="text" placeholder="Primer Apellido" class="form-control col-sm-1"  id="apellidotxt" required />
                </div>
            </div>
            <div class="col">
                <b><label for="segundoapellidotxt">Segundo Apellido</label></b>
                <div class="form-group">
                    <input type="text" placeholder="Segundo Apellido" class="form-control col-sm-1"  id="segundoapellidotxt" required />
                </div>
            </div>
            <div class="col">
                <b><label for="idProgramtxt">Programa</label></b>
                <div class="form-group">
                    <input type="text" placeholder="Ingenieria de Software" class="form-control col-sm-1" id="idProgramtxt" required />
                </div>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Codigo</th>
                        <th scope="col">Nombre asignacion</th>
                        <th scope="col">Creditos</th>
                        <th scope="col">Nivel</th>
                        <th scope="col">Programa</th>
                        <th scope="col">Codigo Asig Hom</th>
                        <th scope="col">Nombre Asig Hom</th>
                        <th scope="col">Creditos Hom</th>
                        <th scope="col">Nota</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td> </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>                 
                </tbody>
            </table>
            <center><input type="button" class="btn btn-outline-danger" value="CREAR USUARIO"></center>
        </div>
    </div>
</div>

