@model SGPI.Models.TblUsuario
@{
    ViewData["Title"] = "EliminarUsuario"; 
    Layout = "_LayoutSGPI";
}


<div class="container">
    <h1>EliminarUsuario</h1>
    <br>
    <nav class="navbar navbar-expand-sm bg-success navbar-dark justify-content-center">
        <b>
            <ul class="navbar-nav navbar-center">
                <li class="nav-item">
                    <a class="nav-link" href="/Administrador/CrearUsuario">CREAR USUARIO</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Administrador/BuscarUsuario">BUSCAR USUARIO</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Administrador/EliminarUsuario">ELIMINAR USUARIO</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Administrador/ModificarUsuario">MODIFICAR USUARIO</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Administrador/ReporteUsu">REPORTES</a>
                </li>
            </ul>
        </b>
    </nav>
    <br>
    <div style="text-align:right">
        <a href="/Administrador/Login" id="regresar">Cerrar sesion</a>
    </div>
    <div class="tab-content">
        <form>
            <br>
            <b><label for="buscarUsutxt" >Buscar usuario: </label></b>
            <div class="input-group">
                <input asp-for="NumeroDocumento" type="text" placeholder="1.111.111.111" class="form-control col-sm-5" id="busquedaUsutxt" required />
                <input type="button" class="btn btn-outline-danger" value="BUSCAR">
                <input type="button" class="btn btn-outline-danger" value="ELIMINAR">
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Primer Apellido</th>
                        <th scope="col">Segundo Apellido</th>
                        <th scope="col">Genero</th>
                        <th scope="col">Documento</th>
                        <th scope="col">Programa</th>
                        <th scope="col">Rol</th>
                        <th scope="col">Correo</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox">
                            </label>                     
                </tbody>
            </table>
        </form>
    </div>
</div>

