@model SGPI.Models.TblUsuario
@{
    ViewData["Title"] = "ModificarUsuario";
    Layout = "_LayoutSGPI";
}
<div class="container">
    <h1>ModificarUsuario</h1>
    <br>
    <nav class="navbar navbar-expand-sm bg-success navbar-dark justify-content-center">
        <b>
            <ul class="navbar-nav navbar-center">
                <li class="nav-item">
                    <a class="nav-link" href="/Administrador/CrearUsuario">CREAR USUARIO</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Administrador/BuscarUsuario">BUSCAR USUARIO</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Administrador/EliminarUsuario">ELIMINAR USUARIO</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Administrador/ModificarUsuario">MODIFICAR USUARIO</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Administrador/ReporteUsu">REPORTES</a>
                </li>
            </ul>
        </b>
    </nav>
    <br>
    <div style="text-align:right">
        <a href="/Administrador/Login" id="regresar">Cerrar sesion</a>
    </div>

    <div class="tab-content">
        <form method="post">
            <br>
            <div class="container tab-pane active">
                <div class="container-fluid cew-9">
                    <div class="row">
                        <div class="col">
                            <b><label for="tipo">Tipo de Documento</label></b>
                            <br>
                                @Html.DropDownList("Iddoc", new SelectList(ViewBag.TblTipoDocumento, "Iddoc","TipoDocumento"), new{@class="form-control dropdown"})
                            <br>

                            <b><label for="programa">Programa</label></b>
                            <br>
                                @Html.DropDownList("Idprograma", new SelectList(ViewBag.TblPrograma, "Idprograma","Programa"), new{@class="form-control dropdown"})
                            <br>
                        </div>
                        <div class="col">
                            <b><label for="rol">Rol</label></b>
                            <br>
                                @Html.DropDownList("Idrol", new SelectList(ViewBag.TblRol, "Idrol","Rol"), new{@class="form-control dropdown"})

                            <br>
                            <b><label for="genero">Genero</label></b>
                            <br>
                                @Html.DropDownList("Idgenero", new SelectList(ViewBag.TblGenero,"Idgenero","Genero"),new{@class="form-control dropdown"})
                            <br>

                        </div>
                    </div>
                </div>
                    @* <b><label for="idNumbertxt" >Numero de Documento: </label></b>
                <b><label for="idEmailtxt">Correo Electronico</label></b>*@
                <div class="container">
                    <br />
                    <div class="row">

                        <div class="col">
                            <b><label for="idNumbertxt">Numero de Documento: </label></b>
                            <input asp-for="NumeroDocumento" type="text" class="form-control" id="idNumbertxt" placeholder="Numero de Documento:">
                        </div>

                        <div class="col">
                            <b><label for="PRIMER_NOMBRE">Primer Nombre </label></b>
                            <input asp-for="PrimerNombre" type="text" class="form-control" id="PRIMER_NOMBRE" placeholder="PRIMER NOMBRE">
                        </div>

                        <div class="col">
                            <b><label for="Segundo_Nombre">Segundo Nombre: </label></b>
                            <input asp-for="SegundoNombre" type="text" class="form-control" id="Segundo_Nombre" placeholder="SEGUNDO NOMBRE">
                        </div>
                    </div>
                    <br />
                    <br />
                    <div class="row">

                        <div class="col">
                            <b><label for="Primer_Apellido">Primer Apellido: </label></b>
                            <input asp-for="PrimerApellido" type="text" class="form-control" id="Primer_Apellido" placeholder="PRIMER APELLIDO">
                        </div>


                        <div class="col">
                            <b><label for="SEGUNDO_APELLIDO">Segundo Apellido: </label></b>
                            <input asp-for="SegundoApellido" type="text" class="form-control" id="SEGUNDO_APELLIDO" placeholder="SEGUNDO APELLIDO">
                        </div>

                        <div class="col">
                            <b><label for="email">Email: </label></b>
                            <input asp-for="Email" type="text" class="form-control" id="email" placeholder="CORREO ELECTRONICO">
                        </div>
                    </div>
                    <div class="form-group">
                        <b><label for="passwordtxt">Contraseña</label></b>
                        <input asp-for="VcPassword" type="password" class="form-control col-sm-4" id="passwordtxt" required />
                    </div>
                    <br />
                    <center><input type="submit" class="btn btn-outline-danger" value="MODIFICAR USUARIO"></center>
                </div>
        </form>
    </div>
</div>

